<h1>Carrito</h1>
<table *ngIf="cartItems.length > 0">
    <thead>
        <th>Imagen</th>
        <th>Articulo</th>
        <th>Categoría</th>
        <th>Precio Unidad</th>
        <th>Cantidad</th>
    </thead>
    <tbody>
        <tr *ngFor="let cartItem of cartItems">
            <td>
                <img class="imgItem" [src]="'data:image/webp;base64,'+cartItem.itemImage" alt="">
            </td>
            <td>{{ cartItem.itemName }}</td>
            <td>{{cartItem.itemCategoryName}}</td>
            <td>{{ cartItem.itemPrice | currency:'EUR'}}</td>

            <td>
                {{cartItem.quantity}}
                <button class="btn quantity-btn" (click)="asignQuantity(cartItem, cartItem.quantity-1)">
                    <i class="pi pi-minus"></i>
                </button>
                <button class="btn quantity-btn" (click)="asignQuantity(cartItem, cartItem.quantity+1)">
                    <i class="pi pi-plus"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>


