<div class="row">
    <div class="col-12 col-md-6 ">
        <h1>Lista de Categorías</h1>
    </div>
    <div class="col-12 col-md-6 btn-add">
        <button class="btn btn-success" [routerLink]="['/categories','new']">Nueva Categoría <i class="pi pi-plus"></i></button>
    </div>
</div>

<table *ngIf="categories.length > 0">
    <thead>
        <th>Id</th>
        <th>Imagen</th>
        <th>Categoria</th>
        <th>Descripción</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>{{ category.id }}</td>
            <td>
                <img class="imgCategory" [src]="'data:image/webp;base64,'+category.image" alt="">
            </td>
            <td> {{ category.name }}</td>
            <td> {{category.description}}</td>
            <td>
                <a [routerLink]="['/categories', category.id, 'items']">
                    <button id="btnNavToCategoryItems" class="btn btn-primary"> <i class="pi pi-list"></i></button>
                </a>
                <button id="btnEditCategory" class="btn btn-warning" [routerLink]="['/categories', category.id]"> <i
                        class="pi pi-pencil"></i></button>
                <button class="btn btn-danger" id="btnDeleteCategory" data-bs-toggle="modal"
                    data-bs-target="#askConfirmationDelete" (click)="prepareCategoryToDelete(category.id!)"> <i
                        class="pi pi-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<p-toast></p-toast>

<div class="modal fade" id="askConfirmationDelete" tabindex="-1" aria-labelledby="askConfirmationDelete"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Confirmación de borrado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Desea eliminar el registro seleccionado? Esta operación no puede deshacerse
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="deleteCategory()">Eliminar</button>
            </div>
        </div>
    </div>
</div>