<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand">STORE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" aria-current="page"[routerLink]="['categories']">Categorias</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" aria-current="page" [routerLink]="['items']">Artículos</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" *ngIf="!isLoggedIn()">
          <a class="nav-link" aria-current="page" [routerLink]="['identification']">Identificate</a>
        </li>
      </div>
    </div>

    <div class="row" *ngIf="isLoggedIn()">
      <div class="col">
        <p>{{user!.getUsername()}}</p>
        <small (click)="logOutUser()">Sign out</small>
      </div>
    </div>
  </div>
</nav>