<h1>{{title}}</h1>

<form>
    <div class="row">
        <!-- Name -->
        <div class="form-group" class="col-12 col-md-6">
            <label for="name">Nombre</label>
            <input type="text" [(ngModel)]="nameFilter" name="name">
        </div>
        <!-- Price -->
        <div class="form-group" class="col-12 col-md-3">
            <label for="price">Precio Máximo</label>
            <input type="number" [(ngModel)]="priceFilter" name="price">
        </div>

        <div class="col-12 col-md-3">
            <button id="btnSearch" class="btn btn-secondary" (click)="searchByFilters()">Filtrar <i
                    class="pi pi-filter"></i></button>
            <button class="btn btn-success" [routerLink]="['/items','new']">Nuevo Articulo <i
                    class="pi pi-plus"></i></button>
        </div>
    </div>
</form>


<table *ngIf="items.length > 0">
    <thead>
        <th>Id</th>
        <th>Imagen</th>
        <th>Articulo</th>
        <th>Categoría</th>
        <th>Precio</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{ item.id }}</td>
            <td>
                <img class="imgItem" [src]="'data:image/webp;base64,'+item.image" alt="">
            </td>
            <td>{{ item.name }}</td>
            <td>{{item.categoryName}}</td>
            <td>{{ item.price | currency:'EUR'}}</td>

            <td>
                <button class="btn btn-warning" id="btnEditItem" [routerLink]="['/items',item.id]">
                    <i class="pi pi-pencil"></i></button>
                <button class="btn btn-danger" id="btnDeleteItem" data-bs-toggle="modal"
                    data-bs-target="#askConfirmationDelete" (click)="prepareItemToDelete(item.id!)"><i
                        class="pi pi-trash"></i></button>
                <button *ngIf="isUserLoggedIn()" class="btn" id="btnFavouriteItem">
                    <i class="pi pi-star"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<div class="botoneraPaginacion">
    <button [disabled]="first" class="btn btn-secondary btnAtras" (click)="previousPage()">Anterior</button>
    <span>Pagina {{(page+1)}} de {{totalPages}} - Elementos totales: {{totalElements}}</span>
    <button [disabled]="last" class="btn btn-secondary btnSiguiente" (click)="nextPage()">Siguiente</button>
</div>

<p-toast></p-toast>

<div class="modal fade" id="askConfirmationDelete" tabindex="-1" aria-labelledby="askConfirmationDelete"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Confirmación de borrado</h1>
            </div>
            <div class="modal-body">
                ¿Desea eliminar el registro seleccionado? Esta operación no puede deshacerse
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="deleteItem()">Eliminar</button>
            </div>
        </div>
    </div>
</div>